*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --first-color: blue;
    --second-color: red;
    --third-color: white;
}

/*Header Style start*/
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 35px;
    background-color: var(--second-color);
    background-size: cover;
    background-position: 80%;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--third-color);
}

header a {
    text-decoration: none;
    color: var(--third-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    1.6vw;
}

body {
    color: var(--first-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgray;
}

/*Intro Stye start*/
.intro {
    list-style: none;
    padding: 10px 15px;
    background-color: blueviolet;
}

.intro {
    text-align: right;
    color: var(--third-color);
}

/*about me style start*/

#about-me p {
    color: white;
    text-align: right;
    padding: 10px 15px;
}


/*run-buddy style start*/
.run h2{
    text-align:center;
}

/*projects style start*/
.past-projects {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.project {
    flex: 1;
    margin: 20px;
    color: var(--third-color);
    background-color: blueviolet;
}


.section-title {
    font-size: 25px;
    color: var(--secondary-color);
    border-right: 3px solid;
    padding-bottom: 20px;
    text-align: left;
    display: flex;
    width: 30%;
  }

  .project img {
      width: 100%
  }

/*contact me style start*/
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact li{
    color: white;
    padding: 10px 15px;
}

.contact li a {
    color: white;
    text-decoration: none;
}

/*footer style*/
footer {
    text-align: center;
    background-color: lime;
    padding: 10px 0 20px 0;
}

