*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --first-color: blue;
    --second-color: red;
    --third-color: white;
}

/*Header Style start*/
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 35px;
    background-color: var(--second-color);
    background-size: cover;
    background-position: 80%;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--third-color);
}

header a {
    text-decoration: none;
    color: var(--third-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    1.6vw;
}

body {
    color: var(--first-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgray;
}

/*Intro Stye start*/
.intro {
    list-style: none;
    padding: 10px 15px;
    background-color: blueviolet;
}

.intro {
    text-align: right;
    color: var(--third-color);
}

/*about me style start*/
#about-me {
    display: flex;
    height: 200px;
}

.about-me-title {
    width: 30%;
    border-right: 3px solid blue;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.8rem;
}

.about-me-title h2 {
    margin-right: 20px;
}

.about-me-text {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-me p {
    color: white;
    padding: 10px 15px;
    font-size: 1.8rem;
}


/*run-buddy style start*/


/*projects style start*/
#projects {
    display: flex;
    margin-top: 50px;
}

.past-projects-title{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    border-right: 3px solid blue;
}

.past-projects-title h2 {
    font-size: 2.5rem;
    margin-right: 19px;
}

.past-projects {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.project {
    flex: 1;
    margin: 20px;
    color: var(--third-color);
    position: relative;
}
.project-info {
    position:absolute;
    bottom: 31px;
    left: 21px;
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
}

.section-title {
    color: var(--secondary-color);
    padding-bottom: 20px;
    display: flex;
  }

  .project img {
      width: 100%
  }

  .projects-smaller {
      display: flex;
  }

  .projects-smaller img {
      height: 200px;
  }

  .pjtext {
      position:absolute;
      bottom: 10px;
      left: 10px;
      background-color: gray;
      border-radius: 5px;
      padding: 5px;
      font-size: 12px;
  }

/*contact me style start*/
#contact {
    display: flex;
}

.contact-info {
    width: 70%;
    display: flex;
}

.contact-info ul{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: white;
    padding: 10px 15px;
}

.contact-info li a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

/*footer style*/
footer {
    text-align: center;
    background-color: lime;
    padding: 10px 0 20px 0;
}

